/* --------------------------------------------------------------------
                      BACKGROUND
---------------------------------------------------------------------- */
body, html {
    height: 100%;
}     
.bg
{
    background-image: url("../img/img-test.jpg");
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
/* --------------------------------------------------------------------
                      NAVBAR TOP
---------------------------------------------------------------------- */
.navbar{ width:60%;
        top:0;
}
#topPresse{
    background-color: #c6cb13;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    transition: all 0.8s ease-out; 
    border:1px solid white;
}
#topPresse:hover{
    opacity:0.7;
    font-style: italic; 
}
 

#topExposants{
    background-color: #195287;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px; 
    transition: all 0.8s ease-out;
    border:1px solid white;
}
#topExposants:hover{
    opacity:0.7;
    font-style: italic; 
}

 
#topNewsletter{
    background-color: #3b525d;
    font-family: "Josefin Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;  
    transition: all 0.8s ease-out;
    border:1px solid white;
}

#topNewsletter:hover{
    opacity:0.7;
    font-style: italic;
}

#logoEnergaia{
    position:absolute;
    top:15%;
    left:10%;
    height:20%;
}
/* --------------------------------------------------------------------
                      SIDEBAR
---------------------------------------------------------------------- */
#sidebar{
    position: fixed;
    top: 17%;
    margin-left:10px;
    float: left;
    background-color:#195287;
    text-align: center;
}
#sidebar p{ 
    margin-bottom:0px;
    font-family:"Josefin Sans", Sans-serif;
    font-size: 0.75em;
}
#sidebar a:hover{
  background-color:#c6cb13;
}

.sticky {
  
    position: fixed!important;
    top: 0!important;
    transition-duration: 3s;
  
  }
  .remove {
   
   transition-duration: 3s;
  
  }
/* --------------------------------------------------------------------
                      BLACK BAR
---------------------------------------------------------------------- */


 #testBlack{
    height:300px;
    top:60%;
    background-color: rgba(0,0,0,0.6);
    
}

#textBanner{
    position:absolute;
    top:15%;
    left:13%;
    font-family:"Josefin Sans", Sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    font-size:1.7rem;
    line-height:1.2;
    
}
#subtextBanner{
    position:absolute;
    top:46%;
    left:13%;
    font-family:"Josefin Sans", Sans-serif;
    font-weight:400;
    font-size:0.9rem;
}
    
#btnMoreinfo{
    position:absolute;
    top:58%;
    left:13%;
    font-family:"Josefin Sans", Sans-serif;
    font-weight:bold;
    font-size:0.9rem;
    background-color:#c6cb13;
    
}





/* --------------------------------------------------------------------
                      VERSION MOBILE
---------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
/* NAVBAR TOP */
    #navbarTop{
        display:flex!important;
        flex-flow: row nowrap!important;
        float:left!important;
        top:10%;
        left:15%;
        width:10%!important;
    }
    #topNewsletter{
        position:fixed;
        top:100px;
        left:0;
        height:4em;
        width:33%;
        border: 1px solid white;
        padding-left: 20px;
    }
    #topExposants{
        display:block;
        position:fixed;
        top:100px;
        left:33%;
        height:4em;
        padding-top:0px;
        width:33%;
        border: 1px solid white;
        padding-left:23px;
    }
    #topPresse{
        position:fixed;
        top:100px;
        left:66%;
        height:4em;
        padding-top:0px;
        width:33.6%;
        border: 1px solid white;
    }
    #topFlag{
        position: fixed;
        top:0;
        right:0;
    }
    #topSearch{
        display:none;
    }
    #topFaq{
        display:none;
    }
    
    #logoEnergaia{
        position:fixed;
        top:0;
        left:30%;
        height:10%;
    }

/* SIDEBAR */
    
    #sideMenu{
        position: fixed;
        top:0;
        left:0;
        height:6em;
        width:6em;
        background-color:rgba(198, 203, 19);
    }
    #sideMenu:hover{
        background-color:rgba(198, 203, 19,0.7)!important;
    }
    #sideTimer>img{
        display:none;
    }
    #sideTimer{
        font-size: 20px;
        position:fixed;
        top:160px;
        left:0;
        height:3em;
        width:33%;
        border: 1px solid white;
        background-color:#195287!important;
        padding-top:4px!important;
        
    }
    #sideTimer:hover{
        background-color:rgba(25, 82, 135,0.7)!important;
    }
    #sideTicket>img{
        display:none;
    }
    #sideTicket{
        font-size: 20px!important;
        position:fixed;
        top:160px;
        left:33%;
        height:3em;
        width:33%;
        border: 1px solid white;
        background-color:#195287!important;
        
    }
    #sideTicket:hover{
        background-color:rgba(25, 82, 135,0.7)!important;
    }
    #sideExpo>img{
        display:none;
    }
    #sideExpo{

        font-size:20px;
        position:fixed;
        top:160px;
        right:0;
        height:3em;
        width:34%;
        border: 1px solid white;
        background-color:#195287!important;
        
    }
    #sideExpo:hover{
        background-color:rgba(25, 82, 135,0.7)!important;
    }
    #sideMap>img{
        display:none;
    }
    #sideMap{

        font-size:20px;
        position:fixed;
        top:220px;
        left:0;
        height:3em;
        width:50%;
        border: 1px solid white;
        background-color:#195287!important;
        
    }
    #sideMap:hover{
        background-color:rgba(25, 82, 135,0.7)!important;
    }
    #sideContact>img{
        display:none;
    }
    #sideContact{
        font-size:20px;
        position:fixed;
        top:220px;
        left:50%;
        height:3em;
        width:50%;
        border: 1px solid white;
        background-color:#195287!important;
        
    }
    #sideContact:hover{
        background-color:rgba(25, 82, 135,0.7)!important;
    }
}
.test{
    height:300px;
}